.container {
  /* box-sizing: border-box; */
  width: 220px;
  min-height: 100px;
  max-height: 300px;
  overflow-y: auto;
  padding: 10px 10px;
}

.open span {
  line-height: 20px;
  vertical-align: middle;
}

.switch {
  vertical-align: middle;
  z-index: 99999;
  width: 40px;
  height: 20px;
  position: relative;
  border: 1px solid #dfdfdf;
  background-color: #fdfdfd;
  box-shadow: #dfdfdf 0 0 0 0 inset;
  border-radius: 20px;
  background-clip: content-box;
  display: inline-block;
  -webkit-appearance: none;
  user-select: none;
  outline: none;
}
.switch:before {
  content: "";
  width: 17px;
  height: 17px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}
.switch:checked {
  border-color: #64bd63;
  box-shadow: #64bd63 0 0 0 16px inset;
  background-color: #64bd63;
}
.switch:checked:before {
  left: 21px;
}
.switch.switch-anim {
  transition: border cubic-bezier(0, 0, 0, 1) 0.4s,
    box-shadow cubic-bezier(0, 0, 0, 1) 0.4s;
}
.switch.switch-anim:before {
  transition: left 0.3s;
}
.switch.switch-anim:checked {
  box-shadow: #64bd63 0 0 0 16px inset;
  background-color: #64bd63;
  transition: border ease 0.4s, box-shadow ease 0.4s, background-color ease 1.2s;
}
.switch.switch-anim:checked:before {
  transition: left 0.3s;
}

.myButton {
  margin-left: 30px;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Arial;
  font-size: 12px;
  padding: 6px 10px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}
.myButton:hover {
  background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  background-color: #f6f6f6;
}
.myButton:active {
  position: relative;
  top: 1px;
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
}
.contain {
  background-color: rgb(230, 230, 230);
  width: 250px;
  height: 500px;
}
.color-group {
  /* display: flex; */
  margin-top: 15px;
}
.color-group ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.color-group ul li {
  width: 30px;
  height: 30px;
  margin: 10px 0;
  border-radius: 50%;
  box-sizing: border-box;
  border: 3px solid white;
  box-shadow: 0 0 8px rgb(0 0 0 / 20%);
  cursor: pointer;
  transition: 0.3s;
}
.color-group ul li.active {
  box-shadow: 0 0 15px #00ccff;
}

.size-range-wrap {
  margin: 10px auto;
}

.size-range-wrap span {
  vertical-align: middle;
}

.size-range-wrap input {
  vertical-align: middle;
  transform: rotate(0deg);
  width: 150px;
  height: 20px;
  margin: 0;
  transform-origin: 75px 75px;
  border-radius: 15px;
  -webkit-appearance: none;
  outline: none;
  position: relative;
}
.size-range-wrap input::after {
  display: block;
  content: "";
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-right: 150px solid #00ccff;
  border-left-width: 0;
  position: absolute;
  left: 0;
  top: 5px;
  border-radius: 15px;
  z-index: -1;
}
.size-range-wrap input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  margin-top: -1px;
  background: #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 8px #00ccff;
  position: relative;
  z-index: 999;
}
